<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Inventory</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <%- include('navbar', { links: [
        { href: '/', text: 'Home' },
        { href: '/items', text: 'Items' },
        { href: '/warehouses', text: 'Warehouses' }
    ] }) %>
    <div class="category-table">
        <h1>Categories:</h1>
        <% itemCategories.forEach(category => { %>
            <h2><%= category.category %></h2>
        <% }) %>
    </div>
    
    <a href="/">
        <button>Back</button>
    </a>
</body>
</html>