<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Inventory</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <%- include('navbar', { links: [
        { href: '/', text: 'Home' },
        { href: '/items', text: 'Items' },
        { href: '/categories', text: 'Categories' },
        { href: '/warehouses', text: 'Warehouses' }
    ] }) %>
    <table>
        <thead>
            <tr>
                <th>Categories:</th>
            </tr>
        </thead>
        <tbody>
            <% itemCategories.forEach(category => { %>
                <tr>
                    <td><%= category.category %></td>
            <% }) %>
                </tr>
        </tbody>
    </table>
    <a href="/">
        <button>Back</button>
    </a>
</body>
</html>