<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Inventory</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('navbar', { links: [
        { href: '/', text: 'Home' },
        { href: '/items', text: 'Items' },
        { href: '/categories', text: 'Categories' },
        { href: '/warehouses', text: 'Warehouses' }
    ] }) %>
    <h1>Home</h1>
    <p>You can access the grocery database by using the navbar links above.</p>
        <p>Each link will show a list of all that is in the database,<br>as well as methods to add, update, and delete from those sections.
        </p>
</body>
</html>