<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grocery Inventory</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <% if (error !== null) { %>
      <%- include('partials/error', { error: error }) %>
    <% } %>
    <h1>Admin Login</h1>
    <p>Input password for admin access.</p>
    <form action="/" method="POST">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
