<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Inventory</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('navbar', { links: [
        { href: '/', text: 'Home' },
        { href: '/categories', text: 'Categories' },
        { href: '/warehouses', text: 'Warehouses' }
    ] }) %>
    <h1>Items and Categories</h1>
    <div id="display-table">
        <div class="category-container">
            <p>Item</p>
            <p>Category</p>
        </div>
        <% groceryItems.forEach(item => { %>
            <div class="display-container">
                <a href="item/<%= item.id %> ">
                    <p><%= item.name %></p>
                </a>
                <a href="categories">
                    <p><%= item.category %></p>
                </a>
                
            </div>
        <% }) %>
    </div>
    
</body>
</html>