<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Inventory</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('navbar', { links: [
        { href: '/', text: 'Home' },
        { href: '/categories', text: 'Categories' },
        { href: '/warehouses', text: 'Warehouses' }
    ] }) %>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <% groceryItems.forEach(item => { %>
                <tr>
                    <td>
                        <a href="items/<%= item.id %> "><%= item.name %></a>
                    </td>
                    <td>
                        <a href="categories"><%= item.category %></a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
    
</body>
</html>