<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Inventory</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <%- include('navbar', { links: [
        { href: '/', text: 'Home' },
        { href: '/items', text: 'Items' },
        { href: '/categories', text: 'Categories' },
    ] }) %>
    <h1>Warehouses:</h1>
    <div>
        <% warehouses.forEach(warehouse => { %>
            <h2><%= warehouse.region_name %></h2>
        <% }) %>
    </div>
    <a href="/">
        <button>Back</button>
    </a>
</body>
</html>